@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap'); /* Nerko One, cursive */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); /* Indie Flower, cursive */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap'); /* Kalam, cursive*/
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Satisfy&display=swap'); /* Satisfy, cursive*/

:root {
  --cor1: white;
  --cor2: black;
  --cor3: rgba(3, 126, 126, 0.836);
  --cor4: #7feee5da;
  --cor5: #e5fffd;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#b2fffa 5%, #e5fffd 95%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-align: center;
}
